.exp {
    background-color: #E6F1E5;
    padding: clamp(1.875rem, 0.489rem + 6.93vw, 6.25rem) 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        line-height: 1.3;
        letter-spacing: 1.2;

        h2 {
            font-family: DM Sans;
            font-size: 42px;
            font-weight: 400;
        }

        p {
            font-family: DM Sans;
            font-size: 25px;
            font-weight: 200;
        }
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(1.563rem, 0.77rem + 3.96vw, 4.063rem);

        @media (max-width:786px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:450px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        max-width: 350px;
        line-height: 1.3;
        height: max-content;
    }

    &__card_content {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin-top: auto;

        h2 {
            font-family: DM Sans 3pt;
            font-size: 27px;
            font-weight: 400;
        }

        p {
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__card_top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 100px;
        width: 100%;
        align-items: self-start;
    }

    &__card_line {
        height: 4px;
        width: 39%;
    }

}