.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right {
        a {
            color: #fff;
            font-size: 16px;
            font-weight: 400;
        }
    }
}